body {
  background: url('header.jpg'); no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
header {
  text-align: center;
  color: white;
  width: 100%;
  padding: 100px 0;
}

header h1 {
  font-family: Questrial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bolder;
}

header h2 {
  font-family: Questrial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 100;
}
header h3 {
  font-family: Courgette;
  font-size: 30px;
}
