body {
  background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url("header.jpg") no-repeat center center fixed;
  background-size: cover;
}

/***************************Top half of the page******************************/
header {
  background: rgba(0, 0, 0, .5);
  background-size: cover;
  text-align: center;
  color: white;
  height: 400px;
  font-family: Questrial;
  font-weight: 100;
  font-size: 30px;
  padding-top: 25px;
  margin-top: 50px;
  margin: 0;
}
/***************************Vien Van******************************************/
h3 {
  font-size: 40px;
  font-family: Questrial;
}
/************************Aesthetic Matter*************************************/

h4 {
  font-family: Courgette;
  font-weight: lighter;
  font-size: 28px;
}

/**************************contact button**************************************/
a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  background: rgba(100, 100, 100, .4);
  color: white;
  font-family: Raleway Dots;
}
#contact {
  background: rgba(125,125,125, .7);
  text-align: right;
  padding: 10px;
  font-family: Questrial;
  margin: 10px;
}


.main {
  height: 50%;
  color: white;
  text-alignment: justify;
}


ul {
  list-style-type: none;
}
li {
  display: inline;
  padding: 20px;
  font-family: Questrial;
  font-size: 22px;
  margin: 0 20px 0 0;
}

.main p {
  font-size: 18px;
  line-height: 28px;
  font-family: Questrial;
  text-align: justify;
  margin: 0 10px 20px 10px;
}

#list {
  width: 100%;
  text-align: left;
  display: inline-flex;
  
  margin: 0 0px 0 20px;
}

#list p span {
  color: red;
}
